<!DOCTYPE html>
<html>
<head>
  <title>To Do List Test</title>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='css/style.css'/>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="js/bundle.js"></script>
</head>
  <body ng-app='someApp'>
    <h1>To Do List: </h1>
    <h4>Able to pull data into mongo just need to get data to table and update without refreshing</h4>
    <h4>check console for reference</h4>

    <ui-view></ui-view>
  </body>
</html>
